*{margin: 0;}
html{font-size: 10px;}
body{font-size: 1rem;}
a{text-decoration: none;color: #ffffff;}

header{height: 14.1rem;text-align: center;}
header > nav{margin: auto;display: flex;justify-content: space-between;align-items: center;}
header > nav > .logo{display: inline-block;padding: 3.4rem 0rem 3.5rem 3.0rem;}
header > nav > .menu{display: inline-block;padding-right: 3.0rem;}

header > .nav_menu{position: relative;display: none;}
header > .nav_menu > ul{display: inline-block;width: 100%;padding: 0rem 0rem;}
header > .nav_menu > ul > li{list-style: none;text-align: right;background-color: #1D05A2;padding: 3.4rem 2.3rem;}
header > .nav_menu > ul > li > a{font-family: 'Noto Sans KR', sans-serif;font-size: 1.6rem;font-weight: 500;}

header > .nav_menu.active{display: flex;}


footer{background-color: #1D05A2;height: 7.4rem;text-align: center;}
